<!-- <section class="container">
    <div class="card shadow">
        <header class="card-header">
            <h3>Digite sua pergunta</h3>
        </header>
        <div class="card-body">
            <form>
                <label for="title">Título</label>
                <input class="form-control material__border" type="text" name="title" id="title">
                <label for="description">Descrição</label>
                <textarea class="form-control material__border" name="description" id="description"></textarea>
                <button class="btn material__btn">Perguntar</button>
            </form>
        </div>
    </div>
</section> -->