<nav class="navbar navbar-expand-lg navbar-light bg-dark p-1 mb-5 rounded material__shadow">
    <a href="/" class="navbar-brand ml-3">
        <img src="/img/cano.png" width="60" height="60" alt="hcode-logo">
        <p class="text-white">CANONICAL</p>
    </a>
</nav>