<!-- Include Header  -->
<%- include ('./partials/header') %>
<body>
    <!-- Include navbar -->
    <%- include ('./partials/navbar') %> 







    


    <!-- Include Footer -->
    <%- include ('./partials/scripts') %> 
</body>
</html>