<!-- Include Header  -->
<%- include ('./partials/header') %>
<body>
    <!-- Include navbar -->
    <%- include ('./partials/navbar') %> 

    <h1>Redirect success!</h1>









    <!-- Include Footer -->
    <%- include ('./partials/scripts') %> 
</body>
</html>