<!-- Include Header  -->
<%- include ('./partials/header') %>
<body>
    <main>
    <!-- Include navbar -->
    <%- include ('./partials/navbar') %> 
        
        <div class="container">
            <h1 class="title_questions">Questions</h1>
            <% questions.forEach( question => { %>
                
                <div class="card shadow ">
                    <header class="card-header">
                        <h5><%= question.title  %> </h5>
                    </header>
                    <button type='submit' class="btn material__btn material__shadow-none" >answer</button>
                </div>
                
                <% }) %> 
            </div>
            <a href="/question" class="btn material__btn-floating"><span class="material-icons text-light">mode_edit</span></a>
    </main>

    <!-- Include Footer -->
    <%- include ('./partials/scripts') %> 
</body>
</html>