<!-- Create Question Screen -->

<!-- Include Header  -->
<%- include ('./partials/head') %>

<body>

    <main>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark p-1 mb-5 rounded material__shadow">
            <a href="/" class="navbar-brand ml-3">
                <img src="/img/cano.png" width="60" height="60" alt="hcode-logo">
                <p class="text-white">CANONICAL</p>
            </a>
        </nav>

        <section class="container">
            <header>
                <h1 class="fw-400">Type your question</h1>
                <hr>
            </header>
            <div class="card">
                <div class="card-body">
                    <form action="/savequestion" method="POST">
                        <label for="title">Title</label>
                        <input class="form-control material__border" type="text" name="title" id="title" autofocus>
                        <label for="description">Description</label>
                        <textarea class="form-control material__border" name="description" id="description"></textarea>
                        <button type='submit' class="btn material__btn material__shadow-none material_pr ">Let's go!</button>
                    </form>
                </div>
            </div>
        </section>
    </main>

   <%- include ('./partials/scripts') %> 

</body>

</html>